<!DOCTYPE html>
<html>
<head>
    <title>Health Prediction</title>
</head>
<body style="text-align:center; font-family:Arial;">

<h2>AI-Based Health Risk Prediction System</h2>

<form action="/predict" method="post">

    <input type="text" name="Pregnancies" placeholder="Pregnancies"><br><br>
    <input type="text" name="Glucose" placeholder="Glucose"><br><br>
    <input type="text" name="BloodPressure" placeholder="Blood Pressure"><br><br>
    <input type="text" name="SkinThickness" placeholder="Skin Thickness"><br><br>
    <input type="text" name="Insulin" placeholder="Insulin"><br><br>
    <input type="text" name="BMI" placeholder="BMI"><br><br>
    <input type="text" name="DiabetesPedigreeFunction" placeholder="DPF"><br><br>
    <input type="text" name="Age" placeholder="Age"><br><br>

    <button type="submit">Predict</button>

</form>

<h3>{{ prediction_text }}</h3>

</body>
</html>